ul.company_menu
  li
    a(href='#')
      | Quản lý tài khoản
  li
    a(href='#') Đăng tuyển
  li
    a(href='#') Ứng viên nộp hồ sơ
  li
    a(href='#') Đề nghị tuyển dụng
  li
    a(href='#') Thông tin doanh nghiệp
  li
    a(href='#') Thay đổi mật khẩu
  li
    a(href='#') Đăng xuất
