.company_menu  
  h2  Quản lý tài khoản
  .btn-open.fas.fa-bars
  ul
    li.active
      a(rel='nofollow', href='#')
        i.far.fa-user-circle
        | Tài khoản
    li
      a(href='#')
        i.far.fa-paper-plane
        |Đăng tuyển
    li
      a(href='#') 
        i.far.fa-address-card
        |Ứng viên nộp hồ sơ
    li
      a(href='#') 
        i.fas.fa-chalkboard-teacher
        |Đề nghị tuyển dụng
    li
      a(href='#') 
        i.far.fa-building
        |Thông tin doanh nghiệp
    li
      a(href='#')
        i.fas.fa-exchange-alt
        |Thay đổi mật khẩu
    li
      a(href='#') 
        i.fas.fa-sign-out-alt
        |Đăng xuất
