.filter
  button.btn-clear-filters(type='button') Huỷ chọn lọc  
  .time-filter
    .filter-title
      h4 Thời gian
    .filter-body
      ul.list-unstyled
        li.checkbox
          label.control-label
            input.time-checkbox(type='checkbox' value='1')
            |Toàn thời gian
        li.checkbox
          label.control-label
            input.time-checkbox(type='checkbox' value='2')
            |Bán thời gian

  .categories-filter
    .filter-title
      h4 Lĩnh vực

    .slimScrollDiv
      .filter-body
        ul.list-unstyled
          li.checkbox
            label.control-label
              input.category-checkbox(type='checkbox' value='18')
              | Viện  KHCN & QLMT
          li.checkbox
            label.control-label
              input.category-checkbox(type='checkbox' value='3')
              | Kế toán - Kiểm toán
          li.checkbox
            label.control-label
              input.category-checkbox(type='checkbox' value='17')
              | Cơ khí
          li.checkbox
            label.control-label
              input.category-checkbox(type='checkbox' value='15')
              | Luật
          li.checkbox
            label.control-label
              input.category-checkbox(type='checkbox' value='14')
              | Xây dựng
          li.checkbox
            label.control-label
              input.category-checkbox(type='checkbox' value='13')
              | Thương mại du lịch
          li.checkbox
            label.control-label
              input.category-checkbox(type='checkbox' value='12')
              | Tài chính - Ngân hàng
          li.checkbox
            label.control-label
              input.category-checkbox(type='checkbox' value='11')
              | Ngoại ngữ
          li.checkbox
            label.control-label
              input.category-checkbox(type='checkbox' value='10')
              | Hoá học
          li.checkbox
            label.control-label
              input.category-checkbox(type='checkbox' value='9')
              | May - Thời trang
          li.checkbox
            label.control-label
              input.category-checkbox(type='checkbox' value='8')
              | Nhiệt - Lạnh
          li.checkbox
            label.control-label
              input.category-checkbox(type='checkbox' value='7')
              | Công nghệ Điện tử
          li.checkbox
            label.control-label
              input.category-checkbox(type='checkbox' value='6')
              | Công nghệ Điện
          li.checkbox
            label.control-label
              input.category-checkbox(type='checkbox' value='1')
              | Công nghệ thông tin
          li.checkbox
            label.control-label
              input.category-checkbox(type='checkbox' value='4')
              | Công nghệ Động lực
          li.checkbox
            label.control-label
              input.category-checkbox(type='checkbox' value='5')
              | Công nghệ thực phẩm
          li.checkbox
            label.control-label
              input.category-checkbox(type='checkbox' value='2')
              | Quản trị kinh doanh
          li.checkbox
            label.control-label
              input.category-checkbox(type='checkbox' value='16')
              | Khác

  .cities-filter
    .filter-title
      h4 Địa điểm
    .slimScrollDiv
      .filter-body
        ul.list-unstyled
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='1')
              | TP.HCM
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='2')
              | Hà Nội
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='3')
              | An Giang
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='4')
              | BR - VT
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='5')
              | Bắc Cạn
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='6')
              | Bắc Giang
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='7')
              | Bắc Ninh
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='8')
              | Bến Tre
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='9')
              | Bình Dương
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='10')
              | Bình Định
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='11')
              | Bình Phước
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='12')
              | Bình Thuận
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='13')
              | Cao Bằng
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='14')
              | Cà Mau
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='15')
              | Cần Thơ
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='16')
              | Đà Nẵng
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='17')
              | Đắk Lắk
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='18')
              | Đắk Nông
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='19')
              | Điện Biên
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='20')
              | Đồng Nai
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='21')
              | Đồng Tháp
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='22')
              | Gia Lai
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='23')
              | Hà Giang
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='24')
              | Hà Nam
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='25')
              | Hà Tây
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='26')
              | Hà Tĩnh
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='27')
              | Hải Dương
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='28')
              | Hải Phòng
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='29')
              | Hậu Giang
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='30')
              | Hòa Bình
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='31')
              | Hưng Yên
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='32')
              | Khánh Hòa
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='33')
              | Kiên Giang
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='34')
              | Kon Tum
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='35')
              | Lai Châu
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='36')
              | Lạng Sơn
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='37')
              | Lào Cai
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='38')
              | Lâm Đồng
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='39')
              | Long An
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='40')
              | Nam Định
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='41')
              | Nghệ An
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='42')
              | Ninh Bình
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='43')
              | Ninh Thuận
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='44')
              | Phú Thọ
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='45')
              | Phú Yên
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='46')
              | Quảng Bình
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='47')
              | Quảng Nam
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='48')
              | Quảng Ngãi
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='49')
              | Quảng Ninh
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='50')
              | Quảng Trị
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='51')
              | Sóc Trăng
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='52')
              | Sơn La
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='53')
              | Tây Ninh
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='54')
              | Thái Bình
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='55')
              | Thái Nguyên
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='56')
              | Thanh Hóa
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='57')
              | TT-Huế
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='58')
              | Tiền Giang
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='59')
              | Trà Vinh
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='60')
              | Tuyên Quang
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='61')
              | Vĩnh Long
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='62')
              | Vĩnh Phúc
          li.checkbox
            label.control-label
              input.city-checkbox(type='checkbox', value='63')
              | Yên Bái

  .salaries-filter
    .filter-title
      h4 Mức lương
    .filter-body
      ul.list-unstyled
        li.checkbox
          label.control-label
            input.mucluong-checkbox(type='checkbox', value='4')
            | Thoả thuận
        li.checkbox
          label.control-label
            input.mucluong-checkbox(type='checkbox', value='5')
            | Dưới 5 triệu
        li.checkbox
          label.control-label
            input.mucluong-checkbox(type='checkbox', value='6')
            | Từ 5tr đến 7tr
