footer
  .container
    .row
      .col-md-6.col-sm-12
        .infomation
          h2 Thông Tin Liên Hệ
          ul.contact 
            li.f_address 1005/5 Nguyễn Kiệm, Phường 3, Quận Gò Vấp, TP. Hồ Chí Minh
            li.f_tel: a(href='tel:02838944109') (028) 389 44 109
            li.f_mail: a(href='mailto:tuyendung@gmail.com') tuyendung@gmail.com
          ul.social
            li.fb: a(href="#")
            li.tw: a(href="#")
            li.yt: a(href="#")
            li.gg: a(href="#")
            li.zalo: a(href="#")
      .col-lg-3.col-sm-6
        .sales-policy
          h2 chính sách bán hàng
          ul
            li: a(href="#")
              i.fas.fa-angle-right
              | Hướng dẫn mua hàng
            li: a(href="#")
              i.fas.fa-angle-right
              |Hình thức thanh toán
            li: a(href="#")
              i.fas.fa-angle-right 
              |Tài khoản và Đơn hàng

      .col-lg-3.col-sm-6
        .statistics
          h2 thống kê truy cập
          dl
            dt
              i.fas.fa-user
              | Số lượng truy cập :
            dd 123456
          dl
            dt
              i.fas.fa-users
              | Đang online :
            dd 12
  address
    .container
      .row
        .cpr
          span &copy; Copyright NTHC 2020. 
          span  Designed by 
          a(href='http://laotama.com/', target='_blank') Thanh Tung
.hot-linkly.hidden-xs
  .bic-load
    .bic-load-tem
      a.loptop.hotline(href='tel:02838944109')
        i.fas.fa-mobile-alt
        span Hotline
    .bic-load-tem
      a.loptop.fanpage(target='_blank', href='/')
        i.fab.fa-facebook
        span Fanpage
    .bic-load-tem
      a.loptop.youtube(target='_blank', href='/')
        i.fab.fa-youtube
        span Kênh Youtube
    .bic-load-tem
      a.loptop.twitter(target='_blank', href='/')
        i.fab.fa-twitter
        span Kênh twitter
    .bic-load-tem
      a.loptop#pagetop
        i.fas.fa-home
        span Đầu Trang
ul.lag-mobile.hidden-sm.hidden-md.hidden-lg
  li: img(src='templates/img/vn.jpg', alt='Viet Nam')
  li: img(src='templates/img/en.jpg', alt='Enghlish')