header
  .container
    .row
      .col-md-4.col-xl-3.hidden-xs
        dl.login
          dt
            i.fas.fa-user
          dd.login-info
            | Tài khoản
            span Đăng ký / Đăng nhập
          dd.login-register
            ul
              li
                a(href='/account/login' title='Đăng nhập') Đăng nhập
              li
                a(href='/account/register' title='Đăng ký') Đăng ký
      .col-md-4.col-xl-6
        h1
          a(href='#')
            img(src='./templates/img/logo.png' alt='nthc')
      .col-md-4.col-xl-3.hidden-xs
        .contact
          dl.hotline
            dt
              i.fas.fa-mobile-alt
            dd
              | Hotline
              span (028)389 44 109
          select#language(name='language')
            option(value='Vietnam') Vietnam
            option(value='English') English
            option(value='China') China
            option(value='Japan') Japan

nav
  .container
    .menu-mobile.hidden-md.hidden-lg.hidden-sm 
      .hamburger.hamburger--vortex-r
        .hamburger-box
          .hamburger-inner
      dl.login-mobile
        dt
          i.fas.fa-user
        dd.login-info
          a(href='/account/login' title='Đăng nhập') Đăng nhập / 
          a(href='/account/register' title='Đăng ký') Đăng ký
      
    #menu_toggle.menu_toggle
      ul
        li.active
          a(href='#') Trang Chủ
        li
          a(href='#') Người Tìm Việc
        li
          a(href='#') Nhà Tuyển Dụng
        li
          a(href='#') Chính Sách
        li
          a(href='#') Tin Tức - Sự Kiện
        li
          a(href='#') Liên Hệ

  