.box-jobs_new
  h2.title việc làm mới
  .list-jobs_new
    mixin advanced-job
      .advanced-job
        .job-image
          a(href="#")
            img(src="./templates/img/techcom.png" alt="logo job")
        .job-content
          h3: a(href="#") Nhân Viên Thu Mua
          .name-company CÔNG TY BẤT ĐỘNG SẢN SMARTLAND
          ul.job-salary
            li
              i.fas.fa-dollar-sign
              |15-20 triệu
            li
              i.fas.fa-hourglass-half
              |Chưa có kinh nghiệm
            li
              i.far.fa-clock
              |02-03-2020
    +advanced-job
    +advanced-job
    +advanced-job
    +advanced-job
    +advanced-job
    +advanced-job
    +advanced-job
    +advanced-job