.typical-staff
  h2.title ứng viên tiêu biểu
  .staff-group
    .staff
      .staff-photo: a(href="#"): img(src="./templates/img/staff.png" alt="staff")
      .staff-content
        h3 Nguyễn Thanh Tùng
        dl
          dt.staff-major Kế toán - Kiểm toán
          dd.staff-salary Lương: 13.500.000 đ  - TP.HCM
    .staff
      .staff-photo: a(href="#"): img(src="./templates/img/staff.png" alt="staff")
      .staff-content
        h3 Nguyễn Thanh Tùng
        dl
          dt.staff-major Kế toán - Kiểm toán
          dd.staff-salary Lương: 13.500.000 đ  - TP.HCM
    .staff
      .staff-photo: a(href="#"): img(src="./templates/img/staff.png" alt="staff")
      .staff-content
        h3 Nguyễn Thanh Tùng
        dl
          dt.staff-major Kế toán - Kiểm toán
          dd.staff-salary Lương: 13.500.000 đ  - TP.HCM

    .staff
      .staff-photo: a(href="#"): img(src="./templates/img/staff.png" alt="staff")
      .staff-content
        h3 Nguyễn Thanh Tùng
        dl
          dt.staff-major Kế toán - Kiểm toán
          dd.staff-salary Lương: 13.500.000 đ  - TP.HCM
    .staff
      .staff-photo: a(href="#"): img(src="./templates/img/staff.png" alt="staff")
      .staff-content
        h3 Nguyễn Thanh Tùng
        dl
          dt.staff-major Kế toán - Kiểm toán
          dd.staff-salary Lương: 13.500.000 đ  - TP.HCM
    .staff
      .staff-photo: a(href="#"): img(src="./templates/img/staff.png" alt="staff")
      .staff-content
        h3 Nguyễn Thanh Tùng
        dl
          dt.staff-major Kế toán - Kiểm toán
          dd.staff-salary Lương: 13.500.000 đ  - TP.HCM
