.user_menu
  .btn-open.fas.fa-bars
  h2 Hồ sơ của bạn
  ul
    li.active
      a(rel='nofollow', href='#')
        i.far.fa-user-circle
        | Quản lý tài khoản
    li
      a(rel='nofollow', href='') 
        i.far.fa-address-card
        |Quản lý hồ sơ
    li
      a(href='#') 
        i.far.fa-paper-plane
        |Tạo hồ sơ
