doctype html
html(lang="vi")
  head
    title #{TITLE}
    meta(charset="utf-8")
    link(rel='icon', type='image/png', href='img/favicon.png')

    meta(name="description" content="DESCRIPTION")
    meta(name="keywords" content="KEYWORDS")
    meta(name="format-detection" content="telephone=no")
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
    link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
    link(href="./templates/css/style.css" rel="stylesheet")

body
  //- header
  block header
    include ./elements/_header.pug

  div
    | about

  //- footer
  block footer
    include ./elements/_footer.pug

  script(src="https://code.jquery.com/jquery-2.2.4.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
  script(src="./templates/js/default.js")