doctype html
html(lang="vi")
  head
    title #{TITLE}
    meta(charset="utf-8")
    link(rel='icon', type='image/png', href='img/favicon.png')

    meta(name="description" content="DESCRIPTION")
    meta(name="keywords" content="KEYWORDS")
    meta(name="format-detection" content="telephone=no")
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.0/css/all.css', integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ', crossorigin='anonymous')
    link(href="./templates/css/bootstrap-grid.css" rel="stylesheet")
    link(href="./templates/css/animate.css" rel="stylesheet")
    link(href="./templates/css/slick.css" rel="stylesheet")
    link(href="./templates/css/slick-theme.css" rel="stylesheet")
    link(href="./templates/css/style.css" rel="stylesheet")

body
  //- header
  block header
    include ./elements/_header.pug

  section.slider
    ul.slider-banner
      li
        img(src='./templates/img/slider.jpg', alt='slider' )
      li
        img(src='./templates/img/slider.jpg', alt='slider' )
    .container
      .row
        .wow.slideInUp.search
          form#search
            .form-group.fas.fa-search
              input.form-control(type='email', placeholder='Chức danh, kỹ năng, tên công ty')
            .form-group.far.fa-list-alt
              select#allwork.form-control
                option(value='') Tất cả ngành nghề
                option(value='volvo') 2
                option(value='volvo') 3
                option(value='volvo') 4
                option(value='volvo') 5
            .form-group.fas.fa-map-marker-alt
              select#allcity.form-control
                option(value='', selected='selected') Tất cả địa điểm
                option(value='An Giang') An Giang
                option(value='Vũng Tàu') Vũng Tàu
                option(value='Bắc Giang') Bắc Giang
                option(value='Bắc Kạn') Bắc Kạn
                option(value='Bạc Liêu') Bạc Liêu
                option(value='Bắc Ninh') Bắc Ninh
                option(value='Bến Tre') Bến Tre
                option(value='Bình Định') Bình Định
                option(value='Bình Dương') Bình Dương
                option(value='Bình Phước') Bình Phước
                option(value='Bình Thuận') Bình Thuận
                option(value='Cà Mau') Cà Mau
                option(value='Cần Thơ') Cần Thơ
                option(value='Cao Bằng') Cao Bằng
                option(value='Đà Nẵng') Đà Nẵng
                option(value='Đắk Lắk') Đắk Lắk
                option(value='Đắk Nông') Đắk Nông
                option(value='Điện Biên') Điện Biên
                option(value='Đồng Nai') Đồng Nai
                option(value='Đồng Tháp') Đồng Tháp
                option(value='Gia Lai') Gia Lai
                option(value='Hà Giang') Hà Giang
                option(value='Hà Nam') Hà Nam
                option(value='Hà Nội') Hà Nội
                option(value='Hà Tĩnh') Hà Tĩnh
                option(value='Hải Dương') Hải Dương
                option(value='Hải Phòng') Hải Phòng
                option(value='Hậu Giang') Hậu Giang
                option(value='Hòa Bình') Hòa Bình
                option(value='Hồ Chí Minh') Hồ Chí Minh
                option(value='Hưng Yên') Hưng Yên
                option(value='Khánh Hòa') Khánh Hòa
                option(value='Kiên Giang') Kiên Giang
                option(value='Kon Tum') Kon Tum
                option(value='Lai Châu') Lai Châu
                option(value='Lâm Đồng') Lâm Đồng
                option(value='Lạng Sơn') Lạng Sơn
                option(value='Lào Cai') Lào Cai
                option(value='Long An') Long An
                option(value='Nam Định') 	Nam Định
                option(value='Nghệ An') Nghệ An
                option(value='Ninh Bình') Ninh Bình
                option(value='Ninh Thuận') Ninh Thuận
                option(value='Phú Thọ') Phú Thọ
                option(value='Phú Yên') Phú Yên
                option(value='Quảng Bình') Quảng Bình
                option(value='Quảng Nam') Quảng Nam
                option(value='Quảng Ngãi') Quảng Ngãi
                option(value='Quảng Ninh') Quảng Ninh
                option(value='Quảng Trị') Quảng Trị
                option(value='Sóc Trăng') Sóc Trăng
                option(value='Sơn La') Sơn La
                option(value='Tây Ninh') Tây Ninh
                option(value='Thái Bình') Thái Bình
                option(value='Thái Nguyên') Thái Nguyên
                option(value='Thanh Hóa') Thanh Hóa
                option(value='Thừa Thiên Huế') Thừa Thiên Huế
                option(value='Tiền Giang') Tiền Giang
                option(value='Trà Vinh') Trà Vinh
                option(value='Tuyên Quang') Tuyên Quang
                option(value='Vĩnh Long') Vĩnh Long
                option(value='Vĩnh Phúc') Vĩnh Phúc
                option(value='Yên Bái') Yên Bái
            .form-group
              button(type='submit', form='search', value='Submit') Tìm việc
              p.search-plus: a(href="#")
                i.fas.fa-search-plus 
                |Tìm Kiếm Nâng Cao
        ul.wow.slideInUp.bottom-work
          li: a(href="#")
            span: img(src="./templates/img/icon_personal_mobile.png", alt="Việc làm tốt nhất").hidden-md.hidden-lg.hidden-sm
            |Việc làm tốt nhất
          li: a(href="#")
            span: img(src="./templates/img/icon_dolla_mobile.png", alt="Việc làm tốt nhất").hidden-md.hidden-lg.hidden-sm
            |Việc làm thu nhập cao
          li: a(href="#")
            span: img(src="./templates/img/icon_company_mobile.png", alt="Việc làm tốt nhất").hidden-md.hidden-lg.hidden-sm
            |Nhà tuyển dụng
  mixin advanced-group
    .advanced-job
      .job-image
        a(href="#")
          img(src="./templates/img/job_logo.png", alt="logo job")
        .job-hot NEW

      .job-content
        h3: a(href="#") Nhân Viên Thu Mua
        .name-company CÔNG TY BẤT ĐỘNG SẢN SMARTLAND
        ul.job-salary
          li
            i.fas.fa-dollar-sign
            |15-20 triệu
          li
            i.fas.fa-hourglass-half
            |1 năm
          li
            i.far.fa-clock
            |02-03-2020
   
  section.advanced-work
    .container 
      .row
        .advanced
          h2.title-work Thông Tin Tuyển Dụng Mới Nhất
          .advanced-work-group.no-slider
            +advanced-group  
            +advanced-group  
            +advanced-group  
            +advanced-group  
            +advanced-group  
            +advanced-group  
            +advanced-group  
            +advanced-group  
             
  section.good-work
    .container 
      .row
        .col-lg-8.col-xl-8
          .wow.slideInUp.advanced.job-goods
            h2.title-work Việc Làm Tốt Nhất
            .advanced-work-group.no-slider
              +advanced-group  
              +advanced-group  
              +advanced-group  
              +advanced-group  
              +advanced-group  
              +advanced-group  
          .wow.slideInUp.advanced.job-salary
            h2.title-work Việc Làm Thu Nhập Cao    
            .advanced-work-group.no-slider
              +advanced-group  
              +advanced-group  
              +advanced-group  
              +advanced-group  
              +advanced-group  
        .col-lg-4.col-xl-4
          .wow.slideInUp.typical-staff
            h2.title ứng viên tiêu biểu
            .sub-title Ứng viên có nhiều kinh nghiệm trong lĩnh vực kế toán
            .staff-group
              .staff
                .staff-photo: a(href="#"): img(src="./templates/img/staff.png", alt="staff")
                .staff-content
                  h3 Nguyễn Thanh Tùng
                  dl
                    dt.staff-major Kế toán - Kiểm toán
                    dd.staff-salary Lương: 13.500.000 đ  - TP.HCM
              .staff
                .staff-photo: a(href="#"): img(src="./templates/img/staff.png", alt="staff")
                .staff-content
                  h3 Nguyễn Thanh Tùng
                  dl
                    dt.staff-major Kế toán - Kiểm toán
                    dd.staff-salary Lương: 13.500.000 đ  - TP.HCM
              .staff
                .staff-photo: a(href="#"): img(src="./templates/img/staff.png", alt="staff")
                .staff-content
                  h3 Nguyễn Thanh Tùng
                  dl
                    dt.staff-major Kế toán - Kiểm toán
                    dd.staff-salary Lương: 13.500.000 đ  - TP.HCM
              
              .staff
                .staff-photo: a(href="#"): img(src="./templates/img/staff.png", alt="staff")
                .staff-content
                  h3 Nguyễn Thanh Tùng
                  dl
                    dt.staff-major Kế toán - Kiểm toán
                    dd.staff-salary Lương: 13.500.000 đ  - TP.HCM
              .staff
                .staff-photo: a(href="#"): img(src="./templates/img/staff.png", alt="staff")
                .staff-content
                  h3 Nguyễn Thanh Tùng
                  dl
                    dt.staff-major Kế toán - Kiểm toán
                    dd.staff-salary Lương: 13.500.000 đ  - TP.HCM
              .staff
                .staff-photo: a(href="#"): img(src="./templates/img/staff.png", alt="staff")
                .staff-content
                  h3 Nguyễn Thanh Tùng
                  dl
                    dt.staff-major Kế toán - Kiểm toán
                    dd.staff-salary Lương: 13.500.000 đ  - TP.HCM

  section.wow.slideInUp.mission(data-wow-duration='2s')
    .container
      .row
        h2.title MANG LẠI GIÁ TRỊ XỨNG ĐÁNG CHO KHÁCH HÀNG
        h3.mission-title UY TÍN VƯỢT TRỘI – CHẤT LƯỢNG ĐẲNG CẤP – GIÁ TRỊ XỨNG ĐÁNG

        .mission-content.tabs
          .circle-mission
            dl
              dt.chatluong: img(src="./templates/img/chatluong_vn_off.png", alt="chất lượng").id-chatluong
              dt.uytin.active: img(src="./templates/img/uytin_vn_on.png", alt="uy tín").id-uytin
              dt.giatri: img(src="./templates/img/giatri_vn_off.png", alt="Giá trị").id-giatri
            ul
              li.tab-link.active(rel="id-uytin" data-tabs="uytin"): span
              li.tab-link(rel="id-chatluong" data-tabs="chatluong"): span
              li.tab-link(rel="id-giatri" data-tabs="giatri"): span
          .mission-tabs
            #tab-1.tab-content.content-info.id-uytin
              h4 Uy Tín
              p Đội ngũ quản lý, cộng tác viên tại NTHC được quy tụ từ các chuyên gia hàng đầu và các Giảng viên Đại học giàu kinh nghiệm trong lĩnh vực tài chính, kế toán, nhân sự để cống hiến và hỗ trợ cho sự phát triển của các Doanh nghiệp. Uy tín của NTHC gắn liền với uy tín, thương hiệu của từng cá nhân khi tham gia tư vấn, hỗ trợ cho Khách hàng.

            #tab-2.tab-content.content-info.id-chatluong
              h4 Chất lượng
              p Sự uy tín, chuyên nghiệp, trình độ chuyên môn cao của đội ngũ nhân sự tại NTHC tạo nên chất lượng dịch vụ đẳng cấp và khác biệt mà khách hàng dễ dàng cảm nhận được khi làm việc với NTHC. 

            #tab-3.tab-content.content-info.id-giatri
              h4 giá trị
              p Với uy tín vượt trội và chất lượng đẳng cấp NTHC mang lại giá trị và lợi ích xứng đáng cho từng khoản chi tiêu của khách hàng.

          
    p.slogan NTHC HỖ TRỢ CÁC CÔNG TY PHỒN THỊNH VÀ PHÁT TRIỂN

  section.wow.slideInUp.service
    .container
      .row
        h2.title Dịch vụ của chúng tôi
        .slider-service
          .item
            .photo: a(href="#"): img(src="./templates/img/icon_giaiphap_off.png", alt="").on_off
            h3: a(href="#") Dịch vụ Giải pháp 
              br
              |phát triển doanh nghiệp
            .text.heightLine-01 Thiết kế quy trình kiểm soát các hoạt động của Doanh nghiệp;Tư vấn - thiết kế quy trình quản lý phù hợp
            .view-btn: a(href="#") xem thêm
          .item
            .photo: img(src="./templates/img/icon_ketoan_off.png", alt="").on_off
            h3: a(href="#") Dịch vụ
              br
              |kế toán
            .text.heightLine-01 Cung cấp dịch vụ kế toán trọn gói; DV lập báo cáo tài chính; thiết kế lại bộ máy và công việc của phòng Kế toán
            .view-btn: a(href="#") xem thêm
          .item
            .photo: img(src="./templates/img/icon_thue_off.png", alt="").on_off
            h3: a(href="#") Dịch vụ
              br
              |Tư vấn - Khai báo thuế 
            .text.heightLine-01 Tư vấn - khai báo các loại  thuế cho DN; Quyết toán thuế cho DN, Tư vấn - khai báo - quyết toán thuế TNCN 
            .view-btn: a(href="#") xem thêm
          .item
            .photo: img(src="./templates/img/icon_luong_off.png", alt="").on_off
            h3: a(href="#") Dịch vụ
              br
              |tính Lương-BHXH
            .text.heightLine-01 Đăng ký khai trình lao động; Đăng ký hệ thống thang lương, bảng lương; Đăng ký, quản lý BHXH, BHYT, BHTN
            .view-btn: a(href="#") xem thêm
          .item
            .photo: img(src="./templates/img/icon_vieclam_off.png", alt="").on_off
            h3: a(href="#") Dịch vụ
              br
              |Tuyển dụng - Việc làm
            .text.heightLine-01 Cung cấp nhân cấp cao; Cung cấp lao động có tay nghề, chuyên môn cao; Tư vấn giới thiệu việc làm
            .view-btn: a(href="#") xem thêm
          .item
            .photo: img(src="./templates/img/icon_marketing_off.png", alt="").on_off
            h3: a(href="#") Dịch vụ
              br
              |marketing 
            .text.heightLine-01 DV quảng cáo Online 
              br
              |(FB, Web, Youtube,.v.v…)
            .view-btn: a(href="#") xem thêm
          .item
            .photo: img(src="./templates/img/icon_outsourcing_off.png", alt="").on_off
            h3: a(href="#") Dịch vụ
              br
              |outsourcing
            .text.heightLine-01 DV Kế toán; thuế; Tài chính;
              br
              |Lương; IT
            .view-btn: a(href="#") xem thêm
          .item
              .photo: img(src="./templates/img/icon_daotao_off.png", alt="").on_off
              h3: a(href="#") Dịch vụ
                br
                |đào tạo
              .text.heightLine-01 Đào tạo kế toán, thuế cho DN; Đào tạo kế toán, thuế cho người lao động và giới thiệu việc làm sau đào tạo.
              .view-btn: a(href="#") xem thêm

  section.wow.slideInUp.partner
    .container
      .row
        h2.title đối tác của chúng tôi

        ul.list-partner
          li: a(href="#").hover-img: img(src='./templates/img/tech.png', alt='partner' )
          li: a(href="#"): img(src='./templates/img/acb.png', alt='partner')
          li: a(href="#"): img(src='./templates/img/ocb.png', alt='partner')
          li: a(href="#"): img(src='./templates/img/lienviet.png', alt='partner')
          li: a(href="#"): img(src='./templates/img/tech.png', alt='partner')
          li: a(href="#"): img(src='./templates/img/acb.png', alt='partner')
          li: a(href="#"): img(src='./templates/img/ocb.png', alt='partner')
          li: a(href="#"): img(src='./templates/img/lienviet.png', alt='partner')
          li: a(href="#"): img(src='./templates/img/tech.png', alt='partner')
          li: a(href="#"): img(src='./templates/img/acb.png', alt='partner')
          li: a(href="#"): img(src='./templates/img/ocb.png', alt='partner')
          li: a(href="#"): img(src='./templates/img/lienviet.png', alt='partner')


  //- footer
  block footer
    include ./elements/_footer.pug

  script(src="./templates/js/jquery.js")
  script(src="./templates/js/wow.min.js")
  script(src="./templates/js/slick.min.js")
  script(src="./templates/js/default.js")
  script.
    new WOW().init();