/* Scss common */
@charset "UTF-8";
/*=============================================
 * font
 *=============================================*/
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,900;1,400;1,500;1,900&display=swap');


.fnt-bevietnam {
    font-family: 'Be Vietnam', sans-serif;
}
.fnt-roboto{
    font-family: 'Roboto', sans-serif;
}
.fnt-oswal {
    font-family: 'Oswald', sans-serif;
}

/*=============================================
 * insert section
 *=============================================*/
@for $il from 1 through 10 {
    #sec#{$il} {
        position: relative;
    }
}

fieldset{
  border: 0;
}
.btn_register{
    color: #fff;
    background: #c02739;
    border: solid 1px #c02739;
    font-size: 16px;
    line-height: 45px;
    display: inline-block;
    margin-right: 10px;
    padding: 0 35px;
    border-radius: 0px;
    height: 45px;
    transition: all 0.6s ease-out;
    background: linear-gradient(to right, #f2b400 50%, #c02739 50%);
    background-size: 206% 100%;
    background-position: right bottom;
    cursor: pointer;
    &:hover{
        transition: all 0.5s ease-out;
        background-position: left bottom;
        border: 1px;
    }
  }

/*=============================================
 * body
 *=============================================*/

body {
    color: #111;
    font-family: 'Be Vietnam', sans-serif;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0;
    background: #FFF;
    min-width: inherit;
    min-height: inherit;
    max-height: 100%;
}

/*=============================================
 * .bg-parallax
 *=============================================*/

.bg-parallax {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    width: 100%;
    min-height: 600px;
}


/*=============================================
 * customs common - Tung
 *=============================================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}


a {
    color: inherit;
    cursor: pointer;
    outline: none !important;
    text-decoration: none !important;
    display: block;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.fn {
    float: none;
}


/*=============================================
 * nav - float/inline
 *=============================================*/

.nav-fl>* {
    float: left;
}

.nav-fr>* {
    float: right;
}

.nav-inline>* {
    display: inline-block;
}

@media only screen and (max-width:767px) {
    .nav-fl>* {
        float: none;
    }
}

/*=============================================
 * bread-crumb
 *=============================================*/

.bread-crumb {
    position: relative;
    background: transparent;
    margin-bottom: 0px;
   

    .breadcrumb {
        display: flex;
        padding: 20px 15px;
        > li {
            display: flex;
            padding: 8px 0;
        }

        i {
            padding: 0 5px;
            font-size: 11px;
        }
    }
}
.lag-mobile{
    position: absolute;
    z-index: 99;
    top: 0;
    right: 0;
    width: 10%;
    li{
        margin-bottom: -3px;
        border: 1px solid #fff;
        img{
            object-fit: cover;
        }
    }
}
// Hover image
/* Shine */

.hover-img{
    position: relative;
  
    &::before {
      position: absolute;
      top: 0;
      left: -75%;
      z-index: 2;
      display: block;
      content: '';
      width: 50%;
      height: 100%;
      background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
      -webkit-transform: skewX(-25deg);
      transform: skewX(-25deg);
    }
  
    &:hover::before {
      -webkit-animation: shine .75s;
      animation: shine .75s;
    }
  }
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

